:root {
    --cream: #C2B078;
    --sage: #d5c590;
    --gray: #333333;
    --black: #111111
}

html {
    box-sizing: border-box;
}
*, *::after, *::before {
    box-sizing: inherit;
}

body {
    background-color: var(--sage);
    color: var(--black);
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

#intro {
    font-size: 1rem;
    color: var(--gray);
}